

      
<table mat-table [dataSource]="breweries" matSort>
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
    <td mat-cell *matCellDef="let brewerie"> {{brewerie.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
    <td mat-cell *matCellDef="let brewerie"> {{brewerie.name}} </td>
  </ng-container>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef  > Select </th>
    <td mat-cell *matCellDef="let brewerie"><button mat-raised-button mat-button color="primary" (click)="navigatetoDetails(brewerie.id)"  >Select</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let brewerie " (click)="navigatetoDetails(brewerie.id)"> </tr>>
</table>

      
      


  