<table>
    <thead>
      <th>city</th>
      <th>state</th>

    </thead>
    <tbody>
      <tr >
        <td>{{ selectedBrewerie.city }}</td>
        <td>{{ selectedBrewerie.state }}</td>
      </tr>
    </tbody>
  </table >


